.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
}

.left {
    display: flex;
    flex-direction: row;
}

.signout {
    background: rgb(34, 193, 195);
    color: white;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.img img {
    height: 60px;
    width: 80px;
}

.cart {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: white;
}

p {
    font-size: 40px;
    font-weight: bolder;
}

ul li {
    display: inline-block;
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
}

ul li a {
    text-decoration: none;
    color: black;
}

.right button {
    margin: 10px;
}

li:hover {
    cursor: pointer;
    opacity: 60%;
}

.active {
    border-bottom: 6px solid black;
    font-weight: bold;
}