<div class="full" style="position: relative;top: 0px;">
    <div class="container">
        <div class="about-us">
            <div class="left">
                <h1>About us</h1>
                <br><br><br>
                <h3>ShoeNiverse offers the passionate shoe enthusiast a truly unique online shopping experience. The Shoe Warehouse has evolved into a distinctive retail concept that empowers you to personalise your online shopping experience by offering
                    a fantastic assortment of women's, men's and kids shoes that are instantly accessible and fulfill a broad range of comfort and style needs.</h3>
            </div>
            <div class="right">
                <img src="../../../assets/images/logo.png">
            </div>
        </div>
    </div>
    <h1 style="margin-left: 45%;">OUR BRANDS</h1>
    <div class="brand">
        <img src="../../../assets/images/output-onlinepngtools.png" style="height:100px;">
        <img src="../../../assets/images/output-onlinepngtools (1).png" style="height:100px;">
        <img src="../../../assets/images/output-onlinepngtools (2).png" style="height:100px;">
        <img src="../../../assets/images/output-onlinepngtools (3).png" style="height:100px;">
    </div>
    <h1 style="margin-left:45%;position: relative;top: 0px;">CONTACT US </h1>
    <div class="container-contact" style="border:1px solid white;padding: 16px;position: relative;top: 0px;">
        Name:<input type="text" class="form-control" placeholder="Enter Your Name"> Email: <input type="email" class="form-control" placeholder="Enter Your email"> Phone no: <input type="number" class="form-control" placeholder="enter your phoneno"> Your
        Message : <textarea class="form-control" placeholder="Message"></textarea>
        <button type="submit" class="btn btn-success">Send Us</button>
    </div>
</div>