<h1 class="text-dark"> <img src="../../../assets/images/puma-logo-png-21169.png" style="height:100px;">
</h1>
<div class="new_Arrivals">
    <div class="cardss" *ngFor="let card of temparr|filterstring:'puma'">
        <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="{{card.product_image}}" alt="Card image cap" height="250px">
            <div class="card-body">
                <h5 class="card-title" style="height: 80px; overflow:hidden">{{card.product_name}}</h5>
                <p class="card-text">&#8377;{{card.product_price}}</p>

            </div>
            <button class="btn btn-dark" *ngIf="card.count===0 else counts" (click)="postcart([card.product_image,card.product_name,card.product_price,card.id])">Add to cart</button>

            <ng-template #counts>
                <div>
                    <button class="btn btn-dark " style="display:inline-block;width: 25%;" (click)="count(card.id,card.count,'sub')">-</button>
                    <span style="display:inline-block;width: 50%;text-align:center;">{{card.count}}</span>
                    <button class="btn btn-dark " style="display:inline-block;width: 25%;" (click)="count(card.id,card.count,'add')">+</button>
                </div>
            </ng-template>
        </div>
    </div>
</div>