<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="c">
            <div class="carousel-item active" *ngFor="let img of imgarr;let i=index" [ngClass]="{'active':i==0}">
                <img class="d-block w-100" src={{img}} alt="First slide">
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
</div>

<h1 style="position:relative;left:45%" class="animation">New Arrivals</h1>

<div class="new_Arrivals">
    <div class="cardss" *ngFor="let card of temparr|newarrivals">
        <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="{{card.product_image}}" alt="Card image cap" height="250px">
            <div class="card-body">
                <h5 class="card-title" style="height: 80px; overflow:hidden">{{card.product_name}}</h5>
                <p class="card-text">&#8377;{{card.product_price}}</p>

            </div>
            <button class="btn btn-dark" (click)="postcart([card.product_image,card.product_name,card.product_price])">Add to cart</button>
        </div>
    </div>
</div>